beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
Django==2.2.4
efficient-apriori==1.0.0
idna==2.8
jieba==0.39
Jinja2==2.10.1
jupyterthemes==0.20.0
kiwisolver==1.1.0
lesscpy==0.13.0
lxml==4.3.4
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.16.4
pandas==0.25.0
Pillow==8.2.0
prettytable==0.7.2
pyecharts==1.3.1
pymongo==3.8.0
PyMySQL==0.9.3
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
selenium==3.141.0
simplejson==3.16.0
six==1.12.0
snapshot-selenium==0.0.2
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.25.3
wincertstore==0.2
wordcloud==1.5.0
